
.code-container {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin: 2px 0 20px 0; 
}

pre {
    overflow-x: auto;
    padding: 10px;
    font-size: 14px;
    margin: 0;
}

code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    display: block;
    color: black;
}
