body,
html {
  margin: 0;
  padding: 0;
}

.nav-tabs {
  background-color: #efefef;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.tabs-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; 
  margin: 0;
  padding: 0;
}

.MuiTab-root {
  font-size: 18px !important;
  color: #000 !important;
  font-weight: 700 !important;
  transition: color 0.3s;
  text-transform: none !important;
  text-align: left !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.MuiTab-root:hover {
  color: #D96E11 !important;
  border-radius: 3px;
}

.Mui-selected {
  color: #BF4C0A !important;
  border-radius: 3px !important;
}

.MuiTabs-indicator {
  display: none; 
}

.logo-tab {
  width: 100px !important;
  justify-content: center !important;
  align-items: center;
}

.qa-path-tab {
  width: 190px !important;
}

.right-side-container {
  padding-right: 20px;
}

.reset-button {
  margin-left: 20px;
  background-color: #D96E11;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #BF4C0A;
}

.test-button {
  background-color: #D96E11;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-button:hover {
  background-color: #BF4C0A;
}

.spacer {
  width: calc(10px + 2rem); 
}
