.newProduct {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:auto;
  height: 800px;
  min-height: fit-content;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.newProductTitle {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.newProductForm {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 900px;
}

.newProductLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.newProductRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: 750px;
}

.newProductItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.newProductItem label {
  color: gray;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.newProductItem input[type='text'],
.newProductItem input[type='number'],
.newProductInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid #F29727 !important;
  transition: all 0.3s ease;
}

.newProductItem input:focus,
.newProductItem .newProductInput:focus,
.newProductItem select:focus {
  border-bottom: 1px solid #F29727;
  outline: none !important;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 1px #F2AB27;
}

.newProductItem .newProductInput,
.newProductItem select {
  width: 250px;
  height: 30px;
  transition: border-bottom 0.3s ease;
}

.newProductItem .newProductInput:hover,
.newProductItem select:hover {
  border-bottom: 1px solid #F29727;
}

.newProductItem .MuiOutlinedInput-notchedOutline {
  border: none !important;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px #F29727;
}

.MuiSelect-root {
  padding: 0 !important;
}

.MuiMenuItem-root:hover {
  background-color: #F29727 !important;
}

.colorOptions,
.radioOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.colorOption,
.radioOption {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.colorOption input[type='checkbox'],
.radioOption input[type='radio'] {
  margin-right: 5px;
  align-items: center;
  accent-color: #F29727;
}

.colorOption label,
.radioOption label {
  margin-bottom: 0px;
  margin-left: 5px;
}
.errorMessage {
  color: darkred;
  font-size: 12px;
  margin-top: 5px;
}

.productUploadImg {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: scale-down;
  margin-bottom: 20px;
  cursor: pointer;
}

.uploadLabel {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.productInfoBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 250px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .newProduct {
    padding: 10px;
  }

  .newProductForm {
    flex-direction: column;
    gap: 10px;
  }

  .newProductButton {
    width: 100%;
  }

  .newProductFormRight {
    align-items: flex-start;
  }

  .productInfoBottom {
    width: 100%;
  }
}