.entityListPreview {
    display: flex;
    align-items: center;  
    justify-content: center; 
    color: #000 !important;
    border-radius: 20px !important;
    width: 120px;
    max-height: 30px;
    border: none;
    padding: 5px 10px;
    margin-top: 5px !important;
    cursor: pointer;
    background-color: #EEE0d7;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .entityListPreview:hover {
    color: #D96E11 !important;
  }
  
  